@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    position: relative;
}
.slides{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.next, .prev{
    position: absolute;
    z-index: 1;
    color: white;
    top:50%;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 2s ease;
}
.next{
    right:20px;
}
.prev{
    left: 20px;
}
.next:hover, .prev:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    opacity: 0.4;
}
.dotContainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 15px;
    gap: 10px;
}
.dotContainer .dot{
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
}
.dotContainer .active{
    background-color: red;
}
@keyframes next1{
    from{
        left:0%;
    }
    to{
        left:-100%
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}
@keyframes prev1{
    from{
        left:0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left:-100%;
    }
    to{
        left: 0%;
    }
}